@model CoScheduleChallenge.Models.Cocktail;

@{
    ViewBag.Title = "Edit Cocktail";
}

<div class="card">
    <div class="card-header">
        <h3>
            @ViewBag.Title
        </h3>
    </div>
    <div class="card-body">

        <div class="form-horizontal">
            @using (Html.BeginForm())
            {
                <div class="form-group row ">
                    @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 col-form-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.Label("GlassType", "Glass Type", new { @class = "col-sm-2 col-form-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.GlassType, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.Label("DrinkType", "Drink Type", new { @class = "col-sm-2 col-form-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DrinkType, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.Label("DrinkCategory", "Drink Category", new { @class = "col-sm-2 col-form-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DrinkCategory, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Instructions, new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.TextAreaFor(model => model.Instructions, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2">
                        <input type="submit" value="Save" class="btn btn-block btn-primary" />
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Favorites")
            </div>
        </div>
    </div>
</div>


@section Scripts  {
    <script>
        $(document).ready(function () {
            $(".active").removeClass("active");
            $("#link-favorite").addClass("active");
        });

    </script>
}