@model IEnumerable<CoScheduleChallenge.Models.Cocktail>
@inject IJsonHelper Json;

@{
    ViewData["Title"] = "Cocktails";
}

<div class="card mt-3 pt-2">
    <div class="card-header">
        <h3>@ViewData["Title"]</h3>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr class="table-info">
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayName("Drink Type")
                    </th>
                    <th>
                        @Html.DisplayName("Glass Type")
                    </th>
                    <th>
                        @Html.DisplayName("Drink Category")
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    @using (Html.BeginForm())
                    {
                        <tr id="@item.Id">
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DrinkType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GlassType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DrinkCategory)
                            </td>
                            <td>
                                <p>
                                    <img title="Click to View" src="@item.ImageLink" width="30" height="30" type="button" class="btn btn-sm bs-tooltip-bottom" data-toggle="modal" data-target="#pop-@item.Id" />
                                </p>
                                
                                <div class="modal fade" id="pop-@item.Id" tabindex="-1" role="dialog" aria-labelledby="cocktailImageLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <img src="@item.ImageLink" />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button id="addToFav-@item.Id" class="btn btn-outline-primary btn-sm invisible">
                                    <span id="addSpan-@item.Id" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Add to Favorites
                                </button>

                            </td>
                        </tr>
                    }


                }
            </tbody>
        </table>
    </div>
</div>