<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Cocktail Summer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <nav class="navbar navbar-inverse navbar-dark bg-dark">
                    <a class="navbar-brand" href="#">
                        <img src="../../Images/cocktail.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                    </a>

                    <span class="nav-item nav-link h5">
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" })
                    </span>
                    <span class="nav-item nav-link h5">
                        @Html.ActionLink("Favorites", "Favorites", "Home")
                    </span>
                </nav>
            </div>

            <div class="col-4 body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Cocktail Summer</p>
                </footer>
            </div>
        </div>
    </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @RenderSection("Scripts", required: false)
</body>
</html>
